<div class="form-group filter-buttons">
  <button (click)="openModal()" class="btn btn-outline-success" id="addUser">
    {{ "button.add" | translate }}
  </button>
</div>
<table
  [dataSource]="students"
  class="mat-elevation-z8"
  id="users-list"
  mat-table
  matSort
>
  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th *matHeaderCellDef id="usernameColumn" mat-header-cell mat-sort-header>
      {{ "user.username" | translate }}
    </th>
    <td
      *matCellDef="let user; let i = index"
      [id]="'username' + (i + 1)"
      mat-cell
    >
      {{ user.username }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef id="nameColumn" mat-header-cell mat-sort-header>
      {{ "user.name" | translate }}
    </th>
    <td *matCellDef="let user; let i = index" [id]="'name' + (i + 1)" mat-cell>
      {{ user.name }}
    </td>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <th *matHeaderCellDef id="surnameColumn" mat-header-cell mat-sort-header>
      {{ "user.surname" | translate }}
    </th>
    <td
      *matCellDef="let user; let i = index"
      [id]="'surname' + (i + 1)"
      mat-cell
    >
      {{ user.surname }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell></th>
    <td
      *matCellDef="let user; let i = index"
      [id]="'actions' + (i + 1)"
      mat-cell
    >
      <mat-icon
        (click)="showStudentDetails(user.id)"
        [id]="'details' + (i + 1)"
        color="primary"
        matTooltip="{{ 'button.details' | translate }}"
        >find_in_page
      </mat-icon>
      <mat-icon
        (click)="askDelete(user.id)"
        [id]="'delete' + (i + 1)"
        color="warn"
        matTooltip="{{ 'button.delete' | translate }}"
      >
        delete_forever
      </mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr
    *matRowDef="let row; columns: displayedColumns; let i = index"
    [id]="'user' + (i + 1)"
    mat-row
  ></tr>
</table>
<mat-paginator
  [length]="totalElements"
  [pageSizeOptions]="elementsPage"
  showFirstLastButtons
></mat-paginator>
