<section>
  <div class="row form-group">
    <div class="col">
      <label class="col-form-label">{{ "subject.name" | translate }}</label>
      <div class="form-control">{{ subject?.name }}</div>
    </div>
    <div class="col">
      <label class="col-form-label">{{
        "subject.subjectType" | translate
      }}</label>
      <div class="form-control">{{ subject?.subjectType | subjectType }}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <mat-checkbox [checked]="subject?.active" disabled>{{
        "subject.active" | translate
      }}</mat-checkbox>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <p-orderList [value]="teachers">
        <ng-template let-teacher pTemplate="item">
          <div>
            <div>
              {{ teacher.name }} {{ teacher.surname }} -
              {{ "user.username" | translate }} : {{ teacher.username }}
            </div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>
</section>
<button
  (click)="updateSubject()"
  class="btn btn-outline-info table-button"
  id="updateSubject"
>
  Modificar
</button>
