<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button type="button" class="btn btn-outline-secondary" aria-label="menu-hamburger" (click)="openSidenav()"
          id="openSidenav">
    <!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down"-->
    <!--         viewBox="0 0 16 16">-->
    <!--      <path-->
    <!--        d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>-->
    <!--    </svg>-->
    <mat-icon>menu</mat-icon>
  </button>
  <div class="navbar-collapse cdk-overlay-backdrop-showing collapse show" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           id="languages">
          <span [ngClass]="selectedLanguage"></span>
        </a>
        <div aria-labelledby="languages" class="dropdown-menu dropdown-menu-right">
          <button (click)="useLanguage('es')" class="btn btn-outline-primary dropdown-item" id="es">
            <span class="flag-icon flag-icon-es"> </span> {{'navbar.es' | translate}}
          </button>
          <div class="dropdown-divider"></div>
          <button (click)="useLanguage('us')" class="btn btn-outline-primary dropdown-item" id="us">
            <span class="flag-icon flag-icon-us"> </span> {{'navbar.us' | translate}}
          </button>
        </div>
      </li>
      <li *ngIf="localStorage.Authorization" class="nav-item">
        <button (click)="loginService.logout()" class="btn btn-outline-secondary" id="logout"
                routerLink="/">
          {{'logout' | translate}}
        </button>
      </li>
    </ul>
  </div>
</nav>
