<header class="modal-header-material">
  <h1 mat-dialog-title>{{ title | translate}}
    <button (click)="closeModal()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </h1>
</header>
<form [formGroup]="formGroup">
  <section class="form-group row">
    <mat-form-field class="col">
      <input cdkFocusInitial formControlName="surname" id="surname" matInput
             placeholder="{{'user.surname' | translate}}">
    </mat-form-field>
    <mat-form-field class="col">
      <input formControlName="name" id="name" matInput
             placeholder="{{'user.name' | translate}}">
    </mat-form-field>
  </section>
  <section class="form-group row">
    <mat-form-field class="col">
      <input email formControlName="email" id="email" matInput
             placeholder="{{'user.email' | translate}}" type="email">
      <mat-error *ngIf="formGroup.controls.email.errors?.email">
        {{'error.user.invalid.email' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input #phone formControlName="phone" id="phone" matInput
             placeholder="{{'user.phone' | translate}}">
      <mat-hint align="end">{{phone.value.length}} / 9</mat-hint>
      <mat-error *ngIf="formGroup.controls.phone.errors?.phone">
        {{'error.user.invalid.phone' | translate}}
      </mat-error>
    </mat-form-field>
  </section>
  <section class="form-group row">
    <mat-form-field class="col">
      <mat-label>{{'user.birthDate' | translate}}</mat-label>
      <input [matDatepicker]="birthDate" formControlName="birthDate" id="birthDate" matInput>
      <mat-datepicker-toggle [for]="birthDate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #birthDate startView="multi-year"></mat-datepicker>
      <mat-error *ngIf="formGroup.controls.birthDate.errors?.maxDate">
        {{'error.user.limit.birth.date' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>{{'user.role' | translate}}</mat-label>
      <mat-select formControlName="role" id="role" required>
        <mat-option [value]="undefined" id="undefinedRole">{{'enum.undefined' | translate}}</mat-option>
        <mat-option *ngFor="let role of RoleType" [id]="role" [value]="role">{{role | roleType}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls.role.errors?.required">
        {{'error.user.required.role' | translate}}
      </mat-error>
    </mat-form-field>
  </section>
  <section class="row form-group">
    <mat-form-field class="col">
      <mat-label>{{'user.identificationType' | translate}}</mat-label>
      <mat-select [required]="isRequiredIdentificationType()" formControlName="identificationType"
                  id="identificationType">
        <mat-option [value]="undefined" id="undefinedRol">{{'enum.undefined' | translate}}</mat-option>
        <mat-option *ngFor="let type of IdentificationType" [id]="type"
                    [value]="type">{{type | identificationType}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls.identificationType.errors?.required">
        {{'error.user.required.identificationType' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input #numberIdentification [placeholder]="'user.numberIdentification' | translate" [required]="formGroup.controls.identificationType.value" formControlName="numberIdentification"
             id="numberIdentification"
             matInput>
      <mat-hint align="end">{{numberIdentification.value.length}} / 9</mat-hint>
      <mat-error *ngIf="formGroup.controls.numberIdentification.errors?.required">
        {{'error.user.required.numberIdentification' | translate}}
      </mat-error>
      <mat-error *ngIf="formGroup.controls.numberIdentification.errors?.wrongLetter">
        {{'error.user.wrongLetter.numberIdentification' | translate}}
      </mat-error>
      <mat-error *ngIf="formGroup.controls.numberIdentification.errors?.formatNoValid">
        {{'error.user.formatNoValid.numberIdentification' | translate}}
      </mat-error>
    </mat-form-field>
  </section>
  <section class="form-group row">
    <mat-form-field class="col">
      <input formControlName="username" id="username" matInput
             placeholder="{{'user.username' | translate}}" required/>
      <mat-error *ngIf="formGroup.controls.username.errors?.required">
        {{'error.user.required.username' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input formControlName="password" id="password" matInput placeholder="{{'user.password' | translate}}"
             required showHideInput type="password"/>
      <i [showHideStatus]="{ materialIcon: true, id: 'password' }" class="material-icons" matSuffix
         showHideTrigger="password"></i>
      <mat-error *ngIf="formGroup.controls.password.errors?.required">
        {{'error.user.required.password' | translate}}
      </mat-error>
    </mat-form-field>
  </section>
  <div class="row form-group">
    <mat-form-field class="col">
      <input formControlName="street" id="street" matInput name="street"
             placeholder="{{'user.address.street' | translate}}"/>
    </mat-form-field>
  </div>
  <div class="row form-group">
    <mat-form-field class="col">
      <input formControlName="city" id="city" matInput name="city"
             placeholder="{{'user.address.city' | translate}}"/>
    </mat-form-field>
    <mat-form-field class="col">
      <input formControlName="postalCode" id="postalCode" matInput name="postalCode"
             placeholder="{{'user.address.postalCode' | translate}}"/>
    </mat-form-field>
  </div>
  <div class="row form-group">
    <div class="col">
      <label for="img">{{'user.img' | translate}}</label>
      <input (change)="readPhoto($event)" accept="image/x-png,image/gif,image/jpeg" class="form-control-file" id="img" name="img"
             type="file">
    </div>
  </div>
  <div class="row form-group">
    <mat-checkbox class="col" formControlName="active" id="active">{{'user.active' | translate}}</mat-checkbox>
  </div>
  <section class="float-right modal-buttons">
    <button (click)="saveOrUpdate()" class="btn btn-outline-success" id="add">{{'button.save'| translate}}</button>
    <button (click)="closeModal()" class="btn btn-outline-danger" id="cancel"
            type="button">{{'button.cancel'| translate}}</button>
  </section>
</form>
