<div class="form-group filter-buttons">
  <button (click)="openModal()" class="btn btn-outline-success" id="addUser">{{'button.add' | translate}}</button>
  <button (click)="cleanFilters()" class="btn btn-outline-secondary">{{'button.clean.filters' | translate}}</button>
</div>
<mat-accordion multi>
  <mat-expansion-panel [formGroup]="formGroup">
    <mat-expansion-panel-header>
      <mat-panel-title id="userFilters">
        {{'filters.title' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section class="form-group row">
      <mat-form-field class="col">
        <input formControlName="username" id="usernameFilter" matInput
               placeholder="{{'user.username' | translate}}"/>
      </mat-form-field>
      <mat-form-field class="col">
        <input formControlName="surname" id="surnameFilter" matInput placeholder="{{'user.surname' | translate}}">
      </mat-form-field>
      <mat-form-field class="col">
        <input formControlName="name" id="nameFilter" matInput placeholder="{{'user.name' | translate}}">
      </mat-form-field>
    </section>
    <section class="form-group row">
      <mat-form-field class="col">
        <input formControlName="email" id="emailFilter" matInput placeholder="{{'user.email' | translate}}">
      </mat-form-field>
      <mat-form-field class="col">
        <input formControlName="phone" id="phoneFilter" matInput placeholder="{{'user.phone' | translate}}">
      </mat-form-field>
    </section>
    <section class="form-group row">
      <mat-form-field class="col">
        <mat-label>{{'user.birthDate' | translate}}</mat-label>
        <input type="date" formControlName="birthDate" id="birthDateFilter" matInput>
      </mat-form-field>
      <mat-form-field class="col">
        <mat-label>{{'user.role' | translate}}</mat-label>
        <mat-select formControlName="role" id="roleFilter">
          <mat-option [value]="undefined" id="undefinedRole">{{'enum.undefined' | translate}}</mat-option>
          <mat-option *ngFor="let role of roleType" [id]="role + 'Filter'"
                      [value]="role">{{role | roleType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="row form-group">
      <mat-form-field class="col">
        <input formControlName="street" id="streetFilter" matInput name="street"
               placeholder="{{'user.address.street' | translate}}"/>
      </mat-form-field>
      <mat-form-field class="col">
        <input formControlName="city" id="cityFilter" matInput name="city"
               placeholder="{{'user.address.city' | translate}}"/>
      </mat-form-field>
      <mat-form-field class="col">
        <input formControlName="postalCode" id="postalCodeFilter" matInput name="postalCode"
               placeholder="{{'user.address.postalCode' | translate}}"/>
      </mat-form-field>
    </section>
    <section class="row form-group">
      <mat-checkbox class="col" formControlName="active" id="activeFilter">{{'user.active' | translate}}</mat-checkbox>
    </section>
    <section class="row form-group">
      <div class="col">
        <button class="btn btn-outline-primary" (click)="filter()"
                id="filterButton">{{'button.filter' | translate}}</button>
      </div>
    </section>
  </mat-expansion-panel>
</mat-accordion>
<table [dataSource]="users$ | async" class="mat-elevation-z8" id="users-list" mat-table matSort>
  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th *matHeaderCellDef id="usernameColumn" mat-header-cell mat-sort-header>{{'user.username' | translate}}</th>
    <td *matCellDef="let user; let i = index" [id]="'username'+ (i + 1)" mat-cell> {{user.username}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef id="nameColumn" mat-header-cell mat-sort-header>{{'user.name' | translate}}</th>
    <td *matCellDef="let user; let i = index" [id]="'name'+ (i + 1)" mat-cell> {{user.name}} </td>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <th *matHeaderCellDef id="surnameColumn" mat-header-cell mat-sort-header>{{'user.surname' | translate}}</th>
    <td *matCellDef="let user; let i = index" [id]="'surname'+ (i + 1)" mat-cell> {{user.surname}} </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th *matHeaderCellDef id="roleColumn" mat-header-cell mat-sort-header>{{'user.role' | translate}}</th>
    <td *matCellDef="let user; let i = index" [id]="'role'+ (i + 1)" mat-cell> {{user.role | roleType}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let user; let i = index" [id]="'actions'+ (i + 1)" mat-cell>
      <mat-icon [routerLink]="[user.id]" color="primary" [id]="'details'+ (i + 1)"
                matTooltip="{{'button.details' | translate}}">find_in_page
      </mat-icon>
      <mat-icon *ngIf="user.active" color="warn" [id]="'disable'+ (i + 1)" (click)="disable(user.id, false)"
                matTooltip="{{'button.disable' | translate}}">
        not_interested
      </mat-icon>
      <mat-icon *ngIf="!user.active" color="primary" [id]="'enable'+ (i + 1)" (click)="disable(user.id, true)"
                matTooltip="{{'button.enable' | translate}}">
        restore
      </mat-icon>
      <mat-icon color="warn" [id]="'delete'+ (i + 1)" (click)="askDelete(user.id)"
                matTooltip="{{'button.delete' | translate}}">
        delete_forever
      </mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns; let i = index" [id]="'user' + (i + 1)" mat-row></tr>
</table>
<mat-paginator [length]="totalElements" [pageSizeOptions]="elementsPage" showFirstLastButtons></mat-paginator>
