<div id="filter-buttons" class="form-group">
  <button (click)="openModal()" class="btn btn-outline-success" id="addUser">{{'buttons.add' | translate}}</button>
</div>
<table mat-table [dataSource]="users$ | async" class="mat-elevation-z8" id="users-list">
  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef id="usernameColumn">{{'user.username' | translate}}</th>
    <td mat-cell *matCellDef="let user; let i = index" [id]="'username'+ (i + 1)"> {{user.username}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef id="nameColumn">{{'user.name' | translate}}</th>
    <td mat-cell *matCellDef="let user; let i = index" [id]="'name'+ (i + 1)"> {{user.name}} </td>
  </ng-container>

  <!-- Surname Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef id="surnameColumn">{{'user.surname' | translate}}</th>
    <td mat-cell *matCellDef="let user; let i = index" [id]="'surname'+ (i + 1)"> {{user.surname}} </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef id="roleColumn">{{'user.role' | translate}}</th>
    <td mat-cell *matCellDef="let user; let i = index" [id]="'role'+ (i + 1)"> {{user.role | roleType}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user; let i = index" [id]="'actions'+ (i + 1)">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [id]="'user' + (i + 1)"></tr>
</table>
