<app-navbar
  (changeSidenavEmitter)="changeDrawerState()"
  (closeEmitter)="closeDrawer()"
  id="navbar"
></app-navbar>
<main>
  <mat-sidenav-container autosize id="mat-drawer-container">
    <mat-sidenav #drawer [mode]="'side'">
      <mat-nav-list>
        <a [routerLink]="getMenuUrl()" mat-list-item>{{
          "menu" | translate
        }}</a>
        <a
          *ngIf="user?.role === roleType.ROLE_ADMIN"
          id="usersNavList"
          mat-list-item
          routerLink="/admin/users"
          >{{ "users" | translate }}</a
        >
        <a
          *ngIf="user?.role === roleType.ROLE_ADMIN"
          id="subjectsNavList"
          mat-list-item
          routerLink="/admin/subjects"
          >{{ "subjects" | translate }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content (click)="closeDrawer()" class="sidenav-content">
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
