<app-navbar id="navbar" (changeSidenavEmitter)="changeDrawerState()" (closeEmitter)="closeDrawer()"></app-navbar>
<main>
  <mat-sidenav-container id="mat-drawer-container" autosize>
    <mat-sidenav #drawer [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item [routerLink]="getMenuUrl()">{{'menu' | translate}}</a>
        <a mat-list-item *ngIf="user?.role === roleType.ROLE_ADMIN" routerLink="/admin/users"
           id="usersNavList">{{'users' | translate}}</a>
        <a mat-list-item *ngIf="user?.role === roleType.ROLE_ADMIN" routerLink="/admin/subjects"
           id="subjectsNavList">{{'subjects' | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" (click)="closeDrawer()">
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
