<article>
  <fieldset>
    <h1>{{'login.title' | translate}}</h1>
    <header class="head">
      <img [alt]="'logo.login' | translate" [src]="'assets/img/logo-uniovi.png' | noImage"/>
    </header>
    <form (ngSubmit)="login()" [formGroup]="formGroup">
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{'login.username' | translate}}</mat-label>
          <input [placeholder]="'login.username' | translate" formControlName="username" id="username" matInput
                 required>
          <mat-error *ngIf="formGroup.controls.username.errors?.required">
            {{'username.error.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input [placeholder]="'login.password' | translate" formControlName="password" id="password"
                 matInput
                 required="required" showHideInput type="password"/>
          <i [showHideStatus]="{ materialIcon: true, id: 'password' }" class="material-icons material-design" matSuffix
             showHideTrigger="password"></i>
          <mat-error *ngIf="formGroup.controls.password.errors?.required">
            {{'password.error.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="submit">
        <input [disabled]="disable" class="btn btn-outline-info" id="logIn" type="submit"
               value="{{'login.button' | translate}}"/>
      </div>
    </form>
  </fieldset>
</article>
<app-footer></app-footer>
