<article class="main">
  <fieldset class="login-form">
    <h1>{{'login.title' | translate}}</h1>
    <header class="head">
      <img src="assets/img/logo-uniovi.png" alt="Logo"/>
    </header>
    <form (ngSubmit)="login()" [formGroup]="formGroup">
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{'login.username' | translate}}</mat-label>
          <input matInput formControlName="username" id="username" required
                 [placeholder]="'login.username' | translate">
          <mat-error *ngIf="formGroup.controls.username.errors?.required">
            {{'username.error.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input formControlName="password" id="password" matInput
                 [placeholder]="'login.password' | translate"
                 required="required" type="password" showHideInput/>
          <i matSuffix class="material-icons material-design" showHideTrigger="password"
             [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
          <mat-error *ngIf="formGroup.controls.password.errors?.required">
            {{'password.error.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="submit">
        <input class="btn btn-outline-info" id="logIn" type="submit" value="{{'login.button' | translate}}"
               [disabled]="disable"/>
      </div>
    </form>
  </fieldset>
</article>
<app-footer></app-footer>
