<section>
  <div class="row form-group">
    <div class="col" id="img">
      <img [src]="user.img | noImage" alt="{{'user.img' | translate}}"/>
      <mat-checkbox class="col" id="active" [checked]="user.active"
                    disabled>{{'user.active' | translate}}</mat-checkbox>
    </div>
    <div class="col">
      <div class="col">
        <label class="col-form-label" for="username">{{'user.username' | translate}}</label>
        <div class="form-control" id="username">{{user.username}}</div>
      </div>
      <div class="col">
        <label class="col-form-label" for="surname">{{'user.surname' | translate}}</label>
        <div class="form-control" id="surname">{{user.surname}}</div>
      </div>
      <div class="col">
        <label class="col-form-label" for="name">{{'user.name' | translate}}</label>
        <div class="form-control" id="name">{{user.name}}</div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <label class="col-form-label" for="birthDate">{{'user.birthDate' | translate}}</label>
      <div class="form-control" id="birthDate">{{user.birthDate | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="col">
      <label class="col-form-label" for="role">{{'user.role' | translate}}</label>
      <div class="form-control" id="role">{{user.role | roleType}}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <label class="col-form-label" for="email">{{'user.email' | translate}}</label>
      <div class="form-control" id="email">{{user.email}}</div>
    </div>
    <div class="col">
      <label class="col-form-label" for="name">{{'user.phone' | translate}}</label>
      <div class="form-control" id="phone">{{user.phone}}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <label class="col-form-label" for="identificationType">{{'user.identificationType' | translate}}</label>
      <div class="form-control" id="identificationType">{{user.identificationType | identificationType}}</div>
    </div>
    <div class="col">
      <label class="col-form-label" for="numberIdentification">{{'user.numberIdentification' | translate}}</label>
      <div class="form-control" id="numberIdentification">{{user.numberIdentification}}</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <label class="col-form-label" for="street">{{'user.address.street' | translate}}</label>
      <div class="form-control" id="street">{{user.address?.street}}</div>
    </div>
    <div class="col">
      <label class="col-form-label" for="city">{{'user.address.city' | translate}}</label>
      <div class="form-control" id="city">{{user.address?.city}}</div>
    </div>
    <div class="col">
      <label class="col-form-label" for="postalCode">{{'user.address.postalCode' | translate}}</label>
      <div class="form-control" id="postalCode">{{user.address?.postalCode}}</div>
    </div>
  </div>
</section>
