body {
  font-family: 'Vollkorn', serif;
}

table {
  width: 100%;
}

.modal-buttons {
  button {
    margin-left: 20px;
  }
}

.filter-buttons {
  button {
    margin-right: 10px;
  }
}

.form-control {
  height: auto;
}
