$margin-size: 20px;

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mat-drawer-container {
  height: calc(100vh - 60px);
}

#navbar {
  height: 4vh;
  background-color: blue;
}

* {
  font-family: 'Vollkorn', serif;
}

.content {
  margin: 20px 3% 0;
}

table {
  width: 100%;
}

.modal-buttons {
  button {
    margin-left: $margin-size;
  }
}

.filter-buttons {
  button {
    margin-right: $margin-size;
  }
}

.form-control {
  height: auto;
}
