<footer>
  <div class="container">
    <div class="row">
      <div class="col item social">
        <a href="https://github.com/igm1990" target="_blank"><i class="icon ion-social-github"></i></a>
        <a href="https://www.linkedin.com/in/iv%C3%A1n-gonz%C3%A1lez-mahagamage-5bb340107/" target="_blank"><i
          class="icon ion-social-linkedin"></i></a>
        <a href="https://twitter.com/ivangm1990" target="_blank"><i class="icon ion-social-twitter"></i></a>
      </div>
    </div>
    <p>Iván González Mahagamage © 2020</p>
  </div>
</footer>
